<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102520075898-3dvrnug6tj8pqmtuc0ata6vddcsdqhta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102520075898-3dvrnug6tj8pqmtuc0ata6vddcsdqhta</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>102520075898-pn823fvgkp7ud5lj8mambr07n2dq40jl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAW2LnV6W2G3bOlW6rEb-MeX79lUHBKR8U</string>
	<key>GCM_SENDER_ID</key>
	<string>102520075898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.bhaxalogin</string>
	<key>PROJECT_ID</key>
	<string>bhaxa-login</string>
	<key>STORAGE_BUCKET</key>
	<string>bhaxa-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102520075898:ios:0a82e7eac3736d8daeadc3</string>
	<key>DATABASE_URL</key>
	<string>https://bhaxa-login-default-rtdb.firebaseio.com</string>
</dict>
</plist>